<nav class="navbar navbar-expand-lg navbar-green" style ="background-color: #F4FCD3;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <form class = "d-flex">
          <input class = "form-control me-2" type = "search" placeholder = "Search" aria-label ="Search">
          <button class = "btn btn-outline-success" type = "submit">Search</button>
        </form>
        <li class="nav-item">
          <a class="nav-link" href="#">Air Fryer Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Grill Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Breakfast and Brunch Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Baked Goods</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Desert Recipes</a>
        </li>
      </ul>
    </div>
  </nav>
